.bank {
    background-color: #16db93;
    padding: 20px;
}

.bank ul {
    display: flex;
    margin-bottom: 30px;
    
}

.logo h1  {
    color: #16db93;
    display: flex;
    margin-bottom: 30px;
    
}


.logo  {
    padding: 100px 110px 0px;
}


.formulario {
    margin-right: 110px;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}



form  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px 55px 25px 15px;
    border-radius: 25px;
    width: 350px;
    gap: 15px;
    background-color: #00000075;
    border: 2px solid #16db93;
    position: relative;
}

legend {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


section {
    display: flex;
    gap: 30px;
}


section img {
    border-radius: 20px;
}


.outros {
    margin-right: 280px;
}


#enviar {
    margin-top: 10px;
    padding: 10px;
    width: 150px;
}




